@import './colors';
@import './mixins';

.portfolio-button {
  background: transparent;
  border: 1px solid $green;
  color: $green;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background: $green;
    color: $dark-gray;
    border: 1px solid $green;
  }
  &.light-button {
    border: 1px solid $dark-gray;
    color: $dark-gray;
    &:hover {
      background: $green;
      color: $dark-gray;
      border: 1px solid $green;
    }
  }
}

.white {
  color: $white;
}